NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/bosta

#Node Mailer Config
SMTP_HOST=smtp.host.com
SMTP_PORT=4455
SMTP_USER=user
SMTP_PASS=password
FROM_NAME=Ahmed
FROM_EMAIL=ahmbelal95@gmail.com

#Verify Email Config
EMAIL_TOKEN_SECRET=secretemail
EMAIL_TOKEN_EXPIRESIN=1d

#Client URL
CLIENT_URL=https://example.com

#Login Tokens Config
ACCESS_TOKEN_SECRET=accessSecret
ACCESS_TOKEN_EXPIRESIN=2m

REFRESH_TOKEN_SECRET=refreshSecret
REFRESH_TOKEN_EXPIRESIN=7d